.btn-container-eryaz {
    display: flex;
    width: 175px;
    justify-content: space-between;
    margin: auto;
}

.btn-eryaz {
    border-radius: 5px;
    background-color: rgba(68, 158, 40, 1);
    width: 75px;
    height: 30px;
    text-align: center;
    color: #ddd;
    border-style: none;
    transition: .3s all;
    /*
    &:not(&[disabled]) {
        background-color: rgba(68, 158, 40, 1);
    }*/

    &[disabled] {
        background-color: rgba(68, 158, 40, .3);

        &:hover {
            transform: scale(1) translateY(0);
            box-shadow: none;
        }
    }

    &:hover {
        transform: scale(1.1) translateY(-4px);
        box-shadow: 0 2px 15px 3px rgba($color: #000000, $alpha: .5);
    }

    &:active {
        transform: translateY(2px);
    }
}

.btn-left-eryaz {
    display: inline-block;
}

.btn-right-eryaz {
    display: inline-block;
}

.footer-right-container-eryaz {}

.page-number-eryaz {
    display: inline-block;
    justify-content: center;
}