<form class="form-horizontal" autocomplete="off" #editProductForm="ngForm" (ngSubmit)="''">
    <abp-modal-header [title]="'Document Details' | localize" (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>
    <div class="modal-body" [busy]="isTableLoading">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="documentNumber">
                {{ "Document Number" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="documentNumber" id="documentNumber" minlength="2"
                    maxlength="64" [(ngModel)]="documentHeader.documentNumber" #documentNumberModel="ngModel"
                    #documentNumberEl disabled />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="documentDate">
                {{ "Document Date" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="documentDate" id="documentDate" maxlength="128"
                    [(ngModel)]="documentHeader.documentDate" #documentDateModel="ngModel" #documentDateEl disabled />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="registrationDate">
                {{ "Registration Date" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="registrationDate" id="registrationDate" maxlength="128"
                    [(ngModel)]="documentHeader.registrationDate" #registrationDateModel="ngModel" #registrationDateEl
                    disabled />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="customerCode">
                {{ "Customer Code" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="customerCode" id="customerCode" maxlength="128"
                    [ngModel]="documentHeader?.customerDto?.customerCode" #customerCodeModel="ngModel" #customerCodeEl
                    disabled />
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered" [busy]="isTableLoading">
                <thead class="bg-light">
                    <tr>
                        <th>{{ "Product Code" | localize }}</th>
                        <th>{{ "Product Name" | localize }}</th>
                        <th>{{ "Brand" | localize }}</th>
                        <th>{{ "Stock" | localize }}</th>
                        <th>{{ "Status" | localize }}</th>

                        <th style="width: 350px; text-align: center;">{{ "Actions" | localize }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                    let detail of documentDetails; let i = index" [@elementDeletion]>
                        <td>{{ detail.productDto.productCode }}</td>
                        <td>{{ detail.productDto.productName }}</td>
                        <td>{{ detail.productDto.brand }}</td>
                        <th>{{ detail.stock }}</th>
                        <th>{{ detail.IsCompleted == true ? 'Main': 'Entrance'}}</th>
                        <td style="display: flex; justify-content: space-around;">
                            <button [disabled]="detail.isCompleted" type="button" class="btn btn-sm bg-primary"
                                (click)="completeDetail(detail)">
                                <i class="fas fa-check"></i>
                                {{ detail.isCompleted ? "Completed": "Complete" | localize }}
                            </button>
                            <div *ngIf="!detail.isCompleted" style="display: flex; align-items:center">
                                <button
                                    style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; margin-right: 0 !important"
                                    type="button" class="btn btn-sm bg-info mx-2"
                                    (click)="updateDetail(detail, quantityUpdateInput)">
                                    <i class="fas fa-eraser"></i>
                                    {{ "Update" | localize }}
                                </button>
                                <input type="number" #quantityUpdateInput value="0"
                                    style="display: inlie-block; width: 50px; height: 100%; border-bottom-left-radius: 1px; border-top-left-radius: 1px;" />
                            </div>

                            <button *ngIf="!detail.isCompleted" type="button" class="btn btn-sm bg-danger mx-2"
                                (click)="deleteDetail(detail)">
                                <i class="fas fa-trash"></i>
                                {{ "Delete" | localize }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-container" style="display: flex; justify-content: center;">
            <button type="button" class="btn btn-primary" style="text-align: center" [disabled]="!isDocumentCompletable"
                (click)="finishDocument()">Finish</button>
        </div>
    </div>
</form>