<form class="form-horizontal" autocomplete="off" #createMovementForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'Create New Movement' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="movementDate">
                {{ "Movement Date" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="movementDate" id="movementDate" maxlength="128" required
                    [(ngModel)]="movement.movementDate" #movementDateModel="ngModel" #movementDateEl />
                <abp-validation-summary [control]="movementDateModel" [controlEl]="movementDateEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="productCode">
                {{ "Product Code" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="productCode" id="productCode" maxlength="128" required
                    [(ngModel)]="movement.product.productCode" #productCodeModel="ngModel" #productCodeEl />
                <abp-validation-summary [control]="productCodeModel" [controlEl]="productCodeEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="productName">
                {{ "Product Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="productName" id="productName" maxlength="128" required
                    [(ngModel)]="movement.product.productName" #productNameModel="ngModel" #productNameEl />
                <abp-validation-summary [control]="productNameModel" [controlEl]="productNameEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="stock">
                {{ "Stock" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="stock" id="stock" maxlength="128" required
                    [(ngModel)]="movement.stock" #stockModel="ngModel" #stockEl />
                <abp-validation-summary [control]="stockModel" [controlEl]="stockEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="warehouse">
                {{ "Warehouse" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="warehouse" id="warehouse" maxlength="128" required
                    [(ngModel)]="movement.warehouse" #warehouseModel="ngModel" #warehouseEl />
                <abp-validation-summary [control]="warehouseModel" [controlEl]="warehouseEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="movementType">
                {{ "Movement Type" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="movementType" id="movementType" maxlength="128" required
                    [(ngModel)]="movement.movementType" #movementTypeModel="ngModel" #movementTypeEl />
                <abp-validation-summary [control]="movementTypeModel" [controlEl]="movementTypeEl">
                </abp-validation-summary>
            </div>
        </div>

        <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label" for="productName">
                {{ "DatabaseConnectionString" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="productName" id="productName" maxlength="1024"
                    [(ngModel)]="movement.productName" />
            </div>
        </div> -->
        <!-- <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label">
                {{ "IsActive" | localize }}
            </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="isActive" id="isActive"
                        [(ngModel)]="tenant.isActive" />
                    <label class="custom-control-label mt-2" for="isActive"></label>
                </div>
            </div>
        </div> -->
        <!-- <p class="text-center text-info mb-0">
            {{ "DefaultPasswordIs" | localize: "123qwe" }}
        </p> -->
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createMovementForm.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>