<!-- <form class="form-horizontal" autocomplete="off" #createMovementForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'Create New Movement' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="movementDate">
                {{ "Movement Date" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="movementDate" id="movementDate" maxlength="128" required
                    [(ngModel)]="movement.movementDate" #movementDateModel="ngModel" #movementDateEl />
                <abp-validation-summary [control]="movementDateModel" [controlEl]="movementDateEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="productCode">
                {{ "Product Code" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="productCode" id="productCode" maxlength="128" required
                    [(ngModel)]="movement.productDto.productCode" #productCodeModel="ngModel" #productCodeEl />
                <abp-validation-summary [control]="productCodeModel" [controlEl]="productCodeEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="productName">
                {{ "Product Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="productName" id="productName" maxlength="128" required
                    [(ngModel)]="movement.productDto.productName" #productNameModel="ngModel" #productNameEl />
                <abp-validation-summary [control]="productNameModel" [controlEl]="productNameEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="stock">
                {{ "Stock" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="stock" id="stock" maxlength="128" required
                    [(ngModel)]="movement.stock" #stockModel="ngModel" #stockEl />
                <abp-validation-summary [control]="stockModel" [controlEl]="stockEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="warehouse">
                {{ "Warehouse" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="warehouse" id="warehouse" maxlength="128" required
                    [(ngModel)]="movement.warehouseDto" #warehouseModel="ngModel" #warehouseEl />
                <abp-validation-summary [control]="warehouseModel" [controlEl]="warehouseEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="movementType">
                {{ "Movement Type" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="movementType" id="movementType" maxlength="128" required
                    [(ngModel)]="movement.movementType" #movementTypeModel="ngModel" #movementTypeEl />
                <abp-validation-summary [control]="movementTypeModel" [controlEl]="movementTypeEl">
                </abp-validation-summary>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createMovementForm.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form> -->