<form class="form-horizontal" autocomplete="off" #createDocumentForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'Create New Document' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="documentNumber">
                {{ "Document Number" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="documentNumber" id="documentNumber" minlength="2"
                    maxlength="64" required [(ngModel)]="document.documentNumber" #documentNumberModel="ngModel"
                    #documentNumberEl />
                <abp-validation-summary [control]="documentNumberModel" [controlEl]="documentNumberEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="documentDate">
                {{ "Document Date" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="documentDate" id="documentDate" maxlength="128" required
                    [(ngModel)]="documentDate" #documentDateModel="ngModel" #documentDateEl bsDatepicker
                    [bsConfig]="{ isAnimated: true }" />
                <abp-validation-summary [control]="documentDateModel" [controlEl]="documentDateEl ">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="registrationDate">
                {{ "Registration Date" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="registrationDate" id="registrationDate" maxlength="128"
                    required [(ngModel)]="registrationDate" #registrationDateModel="ngModel" #registrationDateEl
                    bsDatepicker [bsConfig]="{ isAnimated: true }" />
                <abp-validation-summary [control]="registrationDateModel" [controlEl]="registrationDateEl">
                </abp-validation-summary>
            </div>
        </div>
        <!-- Yeni evrak ekranında müşteri seçme alanı -->

        <div class="form-group row required">

            <label class="col-md-3 col-form-label" for="customer">
                {{ "Customer" | localize }}
            </label>
            <div class="col-md-9">
                <div class="row" style="display: flex; align-items: center">
                    <div class="col-md-4"><button type="button" class="btn btn-choose-eryaz"
                            (click)="chooseCustomer()"><i class="fas fa-handshake"></i> {{customer ?
                            ' Change Customer': ' Choose Customer'}}
                        </button>
                    </div>
                    <div class="col-md-5" *ngIf="customer" [@productAddition]>
                        Choosen Customer → {{ customer.title }}
                    </div>
                </div>

            </div>
        </div>

        <!-- Müşteri seçildiyse listele -->
        <!-- <div *ngIf="customer" class="customer-container">
            <div class="col-md-12">
                <div *ngFor="let prop of getCustomerProperties()" class="customer-row">
                    <div class="property-name">{{ prop }}</div>
                    <div class="property-value">{{ customer[prop] }}</div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row" *ngIf="customer">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__details">
                        <ul>
                            <li *ngFor="let prop of getCustomerProperties()"> {{customer[prop]}}</li>

                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value">$297</p>
                        </div>
                        <a href="#popup" class="btn btn--white">Book now!</a>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="customer">
                {{ "Products" | localize }}
            </label>
            <div class="col-md-9">
                <button type="button" class="btn btn-choose-eryaz" (click)="chooseProduct()"><i
                        class="fas fa-truck-loading"></i> Add Product
                </button>
            </div>
        </div>

        <!-- Product seçildiyse listele -->
        <div *ngIf="customer" class="customer-container">
            <div class="col-md-12">
                <div *ngFor="let product of products">
                    <div *ngFor="let prop of getCustomerProperties()" class="customer-row">
                        <div class="property-name">{{ prop }}</div>
                        <div class="property-value">{{ customer[prop] }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createDocumentForm.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>