.waiting {
    background-image: linear-gradient(to bottom right, #ff6b6b, #e03131);
    color: #eee;
    border-radius: 5px;
}

.finished {
    background-image: linear-gradient(to bottom right, #20c997, #0ca678);
    color: #eee;
    border-radius: 5px;
}